<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63823494254-q1qvltkh03c3dm758ri0ir9m6ae38fur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63823494254-q1qvltkh03c3dm758ri0ir9m6ae38fur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63823494254-o018ubsjnuhrovr3rh6gpngsef7gvn53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3K4Op20wDv0DkFuVZqdDSItLZpe7kIUc</string>
	<key>GCM_SENDER_ID</key>
	<string>63823494254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadali.buddiesgram</string>
	<key>PROJECT_ID</key>
	<string>social-network-app-56b11</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-app-56b11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63823494254:ios:624577e09dc4a00a5c7a7f</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-app-56b11.firebaseio.com</string>
</dict>
</plist>